.grades-container{
    padding: 2rem;
    display: flex;
}

.col-1 {
    flex: 1;
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    box-shadow: -2px 2px 8px #c3c3c3;
}  

.col-2 {
    flex: 2;
    margin-left: 1rem;
    background-color: whitesmoke;
    border-radius: .8rem;
    padding: 1rem 1.5rem;
    box-shadow: -2px 2px 8px #c3c3c3;
}

/* side panel css */
.sidePanel {
    background-color: whitesmoke;
    height: 16rem;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 7rem;
    height: 7rem;
}

.info-flex {
    display: flex;
    align-items: center;
}

.profile-info{
    margin-top: 1rem;
    position: relative;
}

.profile-info .name {
    display: flex;
    justify-content: space-around;
}

.profile-info .name span {
    font-size: 13px;
    margin-top: .3rem;
    font-weight: 500;
    color: #747474;
}

.college-info {
    font-size: 12px;
    font-weight: 500;
    padding: 0 1.3rem;
    color: #747474;
    width: 70%;
}

.year-div {
    text-align: right;
    width: 25%;
}

.year-div .year {
    font-weight: 600;
    font-size: 38px;
    color: #747474;
}

/* grade panel css */
.gradePanel {
    height: 29rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.gradePanel h3{
    color: #747474;
    padding: .5rem;
}

.semesterOne {
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: -2px 2px 8px #c3c3c3;
    border-radius: 1rem;
}

.titleOne {
    display: flex;
    width: 100%;
}

.titleOne .year {
    font-size: 13px;
    color: #747474;
}

.titleOne .title-div {
    width: 100%;
}

.title-div .sem1{
    font-weight: 600;
}

.titleOne .arrowDown {
    font-size: 2rem;
    color: #747474;
    text-align: right;
}

.semesterOne hr{
    margin: 1rem 0;

}

.subjects {
    display: flex;
    justify-content: space-between;
}

.subjects p {
    font-size: 13px;
}


    /* 
    .col-1 {
        flex-basis: 100%;
    }
    
    .col-2 {
        flex-basis: 100%;
    } */



input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.sem1 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

/* .sem1::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
} */


input:checked + .sem1 {
  background: #1a252f;
}
input:checked + .sem1::after {
  transform: rotate(90deg);
}
